@use "variables";
@import "variables";

.main-container[id="6"] {
    @extend %main-container;
    @include gradient($project-color-dark, $project-color-light);
}
.component-container[id="6"] {
    @extend %component-container;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    overflow-x: auto;
    &::-webkit-scrollbar {
        height: $small;
    }
    &::-webkit-scrollbar-thumb {
        background: $project-color-dark;
        border-radius: $medium;
    }
    &::-webkit-scrollbar-track {
        background-color: #ffffff50;
        border-radius: 10px;
    }
    a[id="more"] {
        @extend %center;
    }
    @media (max-width: $desktop) {
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.project-card {
    display: flex;
    flex-direction: column;
    background-image: url(assets/project-pattern.svg);
    background-position-x: right;
    background-size: contain;
    background-repeat: no-repeat;
    padding: $medium;
    background-color: #ffffff;
    border-radius: $small;
    justify-content: flex-start;
    width: 25vw;
    min-width: 250px;
    font-size: 14px;
    color: #333;
    > div {
        border-bottom: 1px dashed #eee;
        padding-block: $small;
        &:last-of-type {
            border-bottom: none;
        }
    }
}

.project-content {
    display: flex;
    flex-wrap: wrap;
    padding-block: $small;
    gap: $small;
}

.project-content[id="name"] {
    font-weight: bold;
}

.project-content[id="action"] {
    display: flex;
    justify-content: flex-start;
    gap: $medium;
}

.project-content[id="link"] {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    padding: $small;
    border-radius: $small;
    line-height: 14px;
    &:hover {
        background-color: $project-color-dark;
        color: white;
    }
    &:active {
        color: #fff2d2;
    }
}

.chip {
    @extend %center;
    background-color: #ffc32c40;
    border-radius: $small;
    padding: $small;
    line-height: 8px;
}
